/* Styles for the navigation bar with fixed image */
.navbar {
    background-color: #ffffff; /* Changed to solid white for a cleaner look */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); /* Lighter shadow for subtlety */
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 98px;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    position: fixed;
  }
  
  .navbar-logo img {
      height: 80px; /* Increased height for better visibility */
      width: auto; /* Maintain aspect ratio */
      margin-left: 20px; /* Maintain left margin for spacing */
      vertical-align: middle; /* Aligns image vertically in line with other navbar elements */
  }
  
  .navbar-logo {
      flex-shrink: 0; /* Prevents the logo from shrinking */
  }
  
  /* Common styles for both navbars */
  .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
  }
  
  .navbar-menu {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
  }
  
  .navbar-item {
      margin-left: 20px;
  }
  
  .navbar-link {
      font-family: 'Roboto', sans-serif; /* Ensuring consistency with the logo font */
      color: #333333;
      text-decoration: none;
      font-size: large;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border-radius: 5px;
  }
  
  .navbar-link:hover {
      /* background-color: #e0e0e0; This line is causing the rectangle on hover, remove or comment it out */
      color: #06478c;
      text-decoration: none; /* Removing underline for a cleaner look */
  }
  
  .navbar-scrolled {
    background-color: rgba(255, 255, 255, 1); /* Or any other color you prefer */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Slightly more pronounced shadow for better visibility */
  }

  .navbar-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* More rounded */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; /* Smooth transition */
    }

    .navbar-button:hover {
    background-color: #0056b3;
    }
